const char* ssid      = "***"; // regular wi-fi host
const char* password  = "***"; // regular wi-fi password
const char* ssid2     = "***"; // alternative wi-fi host (when ButtonC is held at startup)
const char* password2 = "***"; // alternative wi-fi password (when ButtonC is held at startup)
